body {
    font-family: Arial, sans-serif;
    background-color: #e0f3ed;
    color: #333;
    margin: 0;
    padding: 20px;
}

h1 {
    font-size: 48px; 
    color: #4a90e2; 
    text-align: center; 
    margin: 20px 0; 
    font-family: 'Verdana', sans-serif; 
    animation: fadeIn 2s ease-in-out; 
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}





.center {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px; 
}

.upload-btn {
    background-color: #e53935;
    color: white;
    padding: 15px 40px;
    border: none;
    border-radius: 25px;
    font-size: 20px;
    cursor: pointer;
    display: inline-block;
    transition: background-color 0.3s ease;
}

.upload-btn:hover {
    background-color: #d32f2f;
}


button {
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    align-items: center;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

button:hover:not(:disabled) {
    background-color: #0056b3;
}

#names {
    margin-top: 20px;
}

#names div {
    background-color: #fff;
    border: 1px solid #074c52;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 7px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    overflow: hidden;
}

#names div:nth-child(odd) {
    background-color: #faf7f5;
}

#names div:nth-child(even) {
    background-color: #EBF5EE;
}

#names a {
    color: #007bff;
    text-decoration: none;
    text-align: center;
    margin-right: 10px;
    font-weight: normal;
}

#names a:hover {
    text-decoration: underline;
}

#names button {
    background-color: #dc3545;
    padding: 5px 10px;
    font-size: 14px;
    border-radius: 3px;
    border: none;
    cursor: pointer;
}

#names button:hover {
    background-color: #c82333;
}

#names button:disabled {
    background-color: #e0a3a3;
    cursor: not-allowed;
}



@media (max-width: 600px) {
    button {
        width: 100%;
        margin-bottom: 10px;
        padding: auto;
    }

    #names div {
        flex-direction: column;
        align-items: flex-start;
    }

    #names button {
        margin-top: 10px;
    }
}


#modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(232, 220, 220);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 1);
    padding: 30px;
    z-index: 1000;
    text-align: center;
    border-radius: 10px; /* Optional: rounded corners */
}

#modal h1 {
    margin-bottom: 15px;
    font-size: 24px;
    color: #333;
}

#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

#gif-container {
    position: fixed; /* Use fixed positioning to keep it centered during scrolling */
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Adjust for the image's dimensions */
    z-index: 1100; /* Ensure it's on top of other content */
    display: none; /* Hide it initially */
}

#loading-gif {
    width: 500px; /* Adjust width as needed */
    height: auto; /* Maintain aspect ratio */
}